---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: lyrion-music-server
  namespace: lyrion-music-server
spec:
  interval: 15m
  chart:
    spec:
      chart: lyrion-music-server
      version: 5.13.21
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  driftDetection:
    mode: enabled
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    workload:
      main:
        podSpec:
          containers:
            main:
              resources:
                requests:
                  cpu: 35m
    persistence:
      music:
        enabled: true
        readOnly: true
        mountPath: /music
        type: nfs 
        path: /mnt/NASCasa/Music
        server: "192.168.1.123"