---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: wordpress
  namespace: wordpress
spec:
  interval: 15m
  chart:
    spec:
      chart: wordpress
      version: 10.8.2
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  driftDetection:
    mode: enabled
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    workload:
      main:
        podSpec:
          containers:
            main:
              resources:
                requests:
                  cpu: 35m
      nginx:
        podSpec:
          containers:
            nginx:
              resources:
                cpu: 35m
      notify:
        podSpec:
          containers:
            notify:
              resources:
                cpu: 35m
                
    mariadb:
      workload:
        main:
          podSpec:
            containers:
              main:
                resources:
                  requests:
                    cpu: 35m
    ingress:
      wordpress:
        enabled: true
        primary: true
        ingressClassName: external
        hosts:
          - host: "www.${DOMAIN_0}"
            paths:
              - path: /
          - host: "${DOMAIN_0}"
            paths:
              - path: /
#          - host: wordpress.cloud.local
#            paths:
#              - path: /
        tls:
          - hosts:
              - "www.${DOMAIN_0}"
              - "${DOMAIN_0}"
#              - wordpress.cloud.local
        integrations:
          traefik:
            enabled: false